* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
	background-color: 	#FFDAC1 /*#f7daec*/;
	/*height: 1000px;*/
}

a:link 
{
	color: #A50062;
	border-radius: 10px;
}

a:visited
{
	color: #D62900;
}

i
{
	color: #A50062;
	/*border-style: none;*/
	height: 5px;
}

div{
	/*border-style: solid;*/
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}


ul li
{
	text-decoration: none;
	list-style: none;
}

ul li a
{
	text-decoration: none;
}

.topbar
{
	border-style: solid;
	border-width: medium	;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
	color: #FFA07A;
	background-color: 	#FFFFFF;
}

.menu, .searchbar, .logo, .dashboard, .gotocart
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu
{
	position: relative;
	width: 20%;
	float: left;
}

.menu form, button
{
	display: inline-block;
}


#menuitem
{
	height: 200px;
	float: left;
	position: absolute;
	padding: 8px 8px 8px 8px;
	/*visibility: hidden;*/
	background-color: #FFFFFF;
	border-style: solid;
	border-width: thin;
	color: #FFA07A;
	margin-top:250px ;
}

#menuitem a 
{
	text-decoration: none;
	padding: 8px 16px;
	margin-top: 	5px;
	display: 	block	;
}

#menuitem a:hover
{
	background-color: #FF9B55;
}


.searchbar
{
	float: left;
	/*padding-left: 20px;*/
	width: 20%;
}

::placeholder { 
  color: #D62900;
  opacity: 1; 
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #D62900;
}

#searchbar
{
	border: solid	#A50062;
	border-width: thin;	
	border-radius: 3px;
	height: 	19px;
	background-color: 	#FF9B55;
}

.logo
{
	float: left;
	/*padding-right: 20px;*/
	width: 20%;
}

.dashboard
{
	float: left;
	width: 20%;
}

.gotocart
{
	float: right;
	width: 20%;
	position: relative;
}

.socialmedia
{
	display: block;
	float: right;
	border-style: none;
	height: 400px;
	background-color: /*#FF9AA2*/ #FF9B55 /*#FFA07A*/;
}

.socialmedia ul li
{
	display: block;
	padding: 50px 20px 20px 20px;
}

.footerlink
{

	height: 211px;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #FFA07A;
	border-style: solid;
	border-width: medium	;
	background-color: 	#FFFFFF;
	vertical-align: bottom;
}

.quicklink
{
	float: right;
	text-align: center;
	border-style: none;
	margin-left: 50px;
	margin-bottom: 50px;
	vertical-align: middle;
	width: 400px;
}

.quicklink ul
{
	width: 400px;
	/*border-style: solid;*/
	/*transform: translate(-20px, -6px);*/
}

.quicklink ul li 
{
	width: 173px;
	height: 45px;
	text-align: center;
	float: left;
	transform: translate(3px, 12px);
	background-color: #FFB7B2;
	border-radius: 8px;
	padding-top: 10px;
	margin-right: 3px;
	margin-bottom: 3px;
}

/*#left
{
	display: inline;
}

#right
{
	display: inline;
}
*/
.quicklink ul li a 
{
	display: block;
	width: 100%;
  height: 100%;
}

.quicklink ul li:hover
{
	background-color: #FF9AA2 ;
	transform: scale(1.1);
	transition: all .2s ease-in-out;
}

.quicklink ul li a:link
{
	color: #A50062;
}

