* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body
{
	background-color: 	 #FAC898 /*#FF998C*/ /*#FFDAC1*/ /*#f7daec*/;
	height: 1000px;
	font-family: 'Patrick Hand', cursive;
}

a:link 
{
	color: #A50062;
	border-radius: 10px;
}

a:visited
{
	color: #D62900;
}

i
{
	color: #A50062;
	/*border-style: none;*/
	height: 5px;
}

div{
	/*border-style: solid;*/
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}


ul li
{
	text-decoration: none;
	list-style: none;
}

ul li a
{
	text-decoration: none;
}

table tr td
{
	padding: 30px;
	padding-right: 35px;
}


.wrapper
{
	min-height:100%;
  position:relative;
}

.footer
{
	position: absolute;
	bottom: 0;
	width: 	100%;
}

.banner, .carousel
{
	display: table-row-group;
}


.content .banner
{
	float: left;
	margin-right: 20px;
}

.content .banner img
{
	height: 400px;
	border-radius: 10px;
	border: solid;
	border-width: thin;
	border-color: #A50062;
}

.prodlink 
{
	margin-left: 40px;
}

.circle 
{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.carousel
{
	height: 200px;
	float: left;
	border: solid;
	border-width: thin;
	color: 	#000000;
	overflow: hidden;
}

.prod
{
	width: 600px;
	height: 300px;
	display: none;
}



.socialmedia
{
	display: block;
	float: right;
	border-style: none;
	height: 400px;
	width: 60px;
	background-color: /*#FF9AA2*/ #FF9B55 /*#FFA07A*/;
}

.socialmedia ul li
{
	display: block;
	padding: 50px 20px 20px 20px;
}




