* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
	height: 1000px;
	font-family: 'Patrick Hand', cursive;
	font-size: 18px;
}

div{
	/*border-style: solid;*/
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

button
{
	padding: 5px;
}

.wrapper
{
	position: relative;
}

.footer
{
	position: absolute;
	bottom: 0;
	width: 	100%;
}

.payment
{
	transform: translate(300px);
	margin-top: 40px;
}

fieldset
{
	height: 600px;
	width: 45%;
	color: #FFFFFF;
	text-align: center;
	align-items: center;
	justify-content: center;
	border: solid;
	border-color: ;
	border-radius: 10px;
}

input
{
	padding: 6px;
	margin: 5px;
	border-radius: 5px;
	border: none;
}

#when, #paycard
{
	margin-top: 10px;
	border: solid;
	width: 90%;
	height: 300px;
	transform: translate(30px);
	padding: 30px;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
