* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
	background-color: 	 #FAC898 /*#FF998C*/ /*#FFDAC1*/ /*#f7daec*/;
	height: 1000px;
	font-family: 'Patrick Hand', cursive;
}

div{
	/*border-style: solid;*/
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

fieldset
{
	border: 	solid	;
	border-color: 	#A50062;
	border-radius: 10px;
	height: 600px;
	width: 100%;
	justify-content: center;
	align-items: center;
}

form, legend
{
	font-size: 18px;
	font: #FFFFFF;
}

.login
{
	height: 600px;
	width: 80%;
	padding-top: 35px;
	padding-left: 200px;
	transform: translate(45px);
}

.wrapper
{
	position: relative;
}

.footer
{
	position: absolute;
	bottom: 0;
	width: 	100%;
}

input[type=text], input[type=password]
{
	height: 30px;
	border: none;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.signbtn
{
	height: 30px;
	margin-left: 30px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	border: none;
}